*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:Montserrat-Regular ;
    src: url(./../../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family:Montserrat-Bold ;
    src: url(./../../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family:Inter-Regular ;
    src: url(./../../fonts/Inter-Regular.ttf);
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.cards{
    margin-top: 71px;
}

.wrapper_one{
    width: 946px;
    height: 469px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.wrapper_two{
    width: 946px;
    height: 469px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 31px;
}
